fastapi==0.115.12
uvicorn
sqlalchemy
pyodbc
starlette
loguru
requests
python-dotenv
azure-identity
azure-keyvault-secrets
setuptools>=70.0
h11==0.16.0
curl==8.9.1
gnu c library==2.39
gnutls==3.8.9
krb5/krb5==1.21.3
libarchive==3.7.7
libxml2==2.12.5
lua==5.4.6
openssl==3.2.5
sqlite==3.46.1
xz utils==5.6.2
